body
{
  font-size: 40pt;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wrapper {
    text-align: center;
    width:500px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:500px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:500px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:500px;
    margin-right:auto;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
