body
{
  font-size: 40pt;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
}
@media (max-width:900px){
  .grid{
    display:block;
  }
}
}
.wrapper {
    text-align: center;
    width:700px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:700px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:700px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:700px;
}

.button {
    position: absolute;
    top: 50%;
}
.wrapper {
    text-align: center;
    width:700px;
}

.button {
    position: absolute;
    top: 50%;
}

